/*****************************************/
/* BELOW 1344px (Smaller desktops) */
/*****************************************/
@media (max-width: 84em) {
  .hero {
    max-width: 75rem;
  }

  .heading-primary {
    font-size: 2.75rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*****************************************/
/* BELOW 1200px (Landscape Tablets) */
/*****************************************/
@media (max-width: 75em) {
  html {
    font-size: 90%;
  }

  .grid {
    column-gap: 3rem;
    row-gap: 4rem;
  }

  .heading-secondary {
    font-size: 2.25rem;
  }

  .heading-tertiary {
    font-size: 1.5rem;
  }

  .header {
    padding: 0 2rem;
  }

  .main-nav-list {
    gap: 2rem;
  }

  .hero {
    gap: 3rem;
  }

  .testimonials-container {
    padding: 6rem 2rem;
  }
}

/*****************************************/
/* BELOW 944px (Tablets) */
/*****************************************/
@media (max-width: 59em) {
  html {
    font-size: 80%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    text-align: center;
    padding: 0 8rem;
  }

  .hero-img {
    width: 70%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 2rem;
  }

  .logos img {
    height: 1.5rem;
  }

  .step-number {
    font-size: 4rem;
  }

  .meal-content {
    padding: 1.5rem 2rem 2rem 2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* 
    If display is set to NONE 
    no transitions will be allowed
    so we have to use OPACITY instead
    display: none;
    */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    place-items: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*****************************************/
/* BELOW 704px (Smaller Tablets) */
/*****************************************/
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
  }

  .step-number {
    font-size: 3rem;
  }

  .step-text-2 {
    order: 0;
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 3rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .pricing-plan {
    width: 75%;
  }

  .pricing-plan--starter {
    justify-self: center;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3rem;
  }

  .contacts .footer-link:first-child {
    margin-right: 1rem;
  }

  /* HOW IT WORKS */
  .step-img-box:nth-child(2) {
    margin-top: 3rem;
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
}

/*****************************************/
/* BELOW 550px (Smartphones) */
/*****************************************/
@media (max-width: 34.375rem) {
  .hero {
    padding: 0 0.5rem;
  }

  .heading-primary {
    font-size: 2rem;
  }

  .heading-secondary {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 1.5rem;
  }

  .btn.btn--full.margin-right-sm {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .hero-img {
    width: 90%;
  }

  .heading-featured-in {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .delivered-meals {
    flex-direction: column;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
  }

  .logos img {
    height: 2rem;
  }

  /* MEALS */
  .section-meals {
    padding-top: 0;
  }

  .grid--3-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* TESTIMONIALS SECTION */
  .testimonials {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial-img {
    width: 6rem;
  }

  .testimonial-text {
    font-size: 1.5rem;
  }

  .testimonial-name {
    font-size: 1.2rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .plan-price span {
    font-size: 1.5rem;
  }

  .plan-price {
    font-size: 2.5rem;
  }

  .plan-sign-up .btn--full {
    font-size: 1rem;
  }

  .section-pricing .grid--4-cols {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* CTA SECTION */
  .section-cta {
    padding: 0;
    padding-bottom: 2rem;
  }

  .section-cta .container {
    padding: 1rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 1rem;
  }

  .cta-img-box {
    display: none;
  }

  /* FOOTER */
  .footer {
    padding-top: 3rem;
  }

  .grid--footer {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .logo-col {
    order: 5;
  }

  .address-col {
    order: 4;
  }

  .contacts {
    /* margin-top: -1rem; */
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .footer-heading {
    margin-bottom: 1rem;
  }

  .footer-nav {
    gap: 0.5rem;
  }

  .footer-link:first-child {
    margin-right: 3rem;
  }

  .social-links {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
  }

  .social-links .footer-link {
    margin-right: 0;
  }

  .contacts .footer-link {
    display: block;
  }

  .contacts .footer-link:first-child::before,
  .contacts .footer-link:last-child::before {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .contacts .footer-link:first-child::before {
    content: "phone: ";
  }

  .contacts .footer-link:last-child::before {
    content: "email: ";
  }
}
